#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export BUILD_DIR = ./debian/build-$(DEB_HOST_MULTIARCH)

# The compiler and linker options below are copied from
# https://best.openssf.org/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.html
# and -Wtrampolines is removed since it is unsupported to clang.

export MY_CFLAGS = -ffile-prefix-map=/src/trafficserver=. \
-O2 -Wall -Wformat=2 -Wconversion -Wimplicit-fallthrough \
-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3 \
-D_GLIBCXX_ASSERTIONS \
-fstrict-flex-arrays=3 \
-fstack-clash-protection -fstack-protector-strong \
-g

export MY_LD_FLAGS = -Wl,-z,nodlopen -Wl,-z,noexecstack \
-Wl,-z,relro -Wl,-z,now

%:
	LANG=C dh $@

override_dh_auto_configure:
	cmake -B $(BUILD_DIR) -G Ninja \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_CXX_COMPILER=clang++-16 \
	-DCMAKE_C_COMPILER=clang-16 \
	-DCMAKE_CXX_FLAGS="$(MY_CFLAGS)" \
	-DCMAKE_C_FLAGS="$(MY_CFLAGS)" \
	-DCMAKE_EXE_LINKER_FLAGS="$(MY_LD_FLAGS)" \
	-DCMAKE_MODULE_LINKER_FLAGS="$(MY_LD_FLAGS)" \
	-DCMAKE_SHARED_LINKER_FLAGS="$(MY_LD_FLAGS)" \
	-DCMAKE_STATIC_LINKER_FLAGS="$(MY_LD_FLAGS)" \
	-DCMAKE_INSTALL_PREFIX=/opt/trafficserver \
	-DCMAKE_INSTALL_BINDIR=bin \
	-DCMAKE_INSTALL_SBINDIR=bin \
	-DCMAKE_INSTALL_LIBDIR=lib \
	-DCMAKE_INSTALL_LIBEXECDIR=lib/modules \
	-DCMAKE_INSTALL_SYSCONFDIR=etc \
	-DCMAKE_INSTALL_LOCALSTATEDIR=var \
	-DCMAKE_INSTALL_RUNSTATEDIR=var/run \
	-DCMAKE_INSTALL_DATAROOTDIR=share \
	-DCMAKE_INSTALL_DATADIR=share/data \
	-DCMAKE_INSTALL_DOCDIR=share/doc \
	-DCMAKE_INSTALL_LOGDIR=var/log \
	-DCMAKE_INSTALL_CACHEDIR=var/cache \
	-DBUILD_EXPERIMENTAL_PLUGINS=ON \
	-DENABLE_MAXMIND_ACL=ON \
	-DENABLE_URI_SIGNING=ON \
	-DENABLE_JEMALLOC=ON \
	-DCMAKE_PROGRAM_PATH=/src/.local/bin \
	-DENABLE_AUTEST=ON

override_dh_auto_build:
	cmake --build $(BUILD_DIR) --parallel --verbose

override_dh_auto_test:
	cmake --build $(BUILD_DIR) --target test
	# cmake --build $(BUILD_DIR) --target autest

override_dh_dwz:
	# skip dwz since it does not work well with clang >= 14.
	# https://groups.google.com/g/linux.debian.devel/c/BdkfKzS8Z70
	true

override_dh_auto_install:
	DESTDIR=./debian/tmp cmake --install $(BUILD_DIR)
